<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if created %}
        <h2>Привет, {{usr.first_name}} {{usr.last_name}}. Комментарий к вашему посту: {{ comment.post_title }}!</h2>
    {% else %}
        <h2>Привет, {{usr.first_name}} {{usr.last_name}}. Ваш комментарий : {{ comment.post_title }} принят.</h2>
    {% endif %}
    <h4>Автор: {{ comment.author }}</h4>
    <p>{{ comment.content }}</p>
</body>
</html>